/***************************TAG SELECTORS********************************/

body {
    background-color: #E0F4FF;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

img {
    width: 200px;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 3.90rem;
    color: #39A7FF;
    /* line-height: 2; */

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #017a7e;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #017a7e;
}

hr {
    border-style: dashed;
    margin: 100px auto;
    border-width:5px;
    border-color: grey;
    width: 15%;
}

a {
    color: #005a5e;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 20px 10px;
}

a:hover {
    color: white;
}

/***************************ID SELECTORS********************************/





/***************************CLASS SELECTORS********************************/

.first-section {
    background-color: #87C4FF;
    position: relative;
    padding: 100px;
}

.second-section {
}

.third-section {
    background-color: #87C4FF;
    height: 100px;
    margin: 100px 0 0;
    padding-top: 50px;
}

.myname {
    margin: 50px auto 0 auto;
}

.mountain {
    width: 600px;
    height: 300px;
    margin-top: 200px;
}

.web {
    text-decoration: underline;
    
}

.first-image {
    position: absolute;
    right: 250px;
    top: 20px;
}

.second-image {
    position: absolute;
    top: 250px;
    left: 200px;
}

.profile-image {
margin-top: 50px;
}

.skill-row {
    display: inline-block;
    width: 60%;
    text-align: left;
    line-height: 2;
    margin-bottom: 30px;
}

.img1 {
    float: left;
    margin-right: 30px;
}

.img2 {
    float: right;
    margin-right: 30px;
}

.descriptionofprofile {
    display: inline-block;
    width: 500px;
    margin-top: 10px;
}

.assiya {
    position: absolute;
    top: 300px;
    left: 900px;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999e);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999e);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999e);
    background-image: -o-linear-gradient(top, #11CDD4, #11999e);
    background-image: linear-gradient(to bottom, #11CDD4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: relative;
    top: 50px;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .copy-right {
    color: white;
    font-size: 0.9rem;
    padding: 20px 0;
  }